.Header {
  margin: 0 auto;
  background-image: url(../../images/headerphoto.svg);
  box-sizing: border-box;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(196, 196, 196, 0.01);
  box-shadow: inset 0px -1px 0px rgba(255, 255, 255, 0.2);
}
.header__logo {
  all: unset;
  background: url(../../images/NewsExplorer.svg);

  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 200px;
  height: 24px;
  margin-left: 104px;
}
