.header__container__content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  max-width: 608px;
  margin: 80px auto 0;
  gap: 32px;
}
.header__container__content-title {
  font-style: normal;
  font-family: 'Roboto Slab', Helvetica, sans-serif;
  font-weight: 400;
  font-size: 60px;
  line-height: 64px;
  color: #fff;
  margin: 0;
}
.header__container__content-subtitle {
  font-family: 'Roboto', Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  margin: 0;
  width: 100%;
}
@media screen and (max-width: 768px) {
  .header__container__content {
    margin: 38px auto 0;
    max-width: 452px;
  }
  .header__container__content-title {
    font-size: 36px;
    line-height: 40px;
    max-width: 385px;
  }
  .header__container__content-subtitle {
    max-width: 452px;
  }
}

@media screen and (max-width: 650px) {
  .header__container__content {
    padding: 32px 16px 30px;
    margin: 0;
    max-width: 385;
  }
  .header__container__content-title {
    font-size: 36px;
    line-height: 40px;
  }
  .header__container__content-subtitle {
    max-width: 70%;
  }
}

@media screen and (max-width: 320px) {
  .header__container__content {
    gap: 0;
  }
  .header__container__content-subtitle {
    max-width: 100%;
    padding: 16px 0 122px 0;
  }
}
