.nav {
  width: 100%;
  margin: 0 auto;
  padding-top: 14px;
  padding-bottom: 12px;
  background: transparent;
  border-bottom: 1px rgba(255, 255, 255, 0.2) solid;
  color: white;
}

.nav__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 0 104px;
}

.nav_bg-light {
  color: black;
  border-bottom: 1px rgba(209, 210, 214, 1) solid;
}

.nav__logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 137px;
}

.nav__logo {
  width: 100%;
}

.nav__menu {
  display: flex;
  align-items: center;
  gap: 64px;
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-weight: 500;
  text-decoration: none;
}

.nav__menu-list {
  display: flex;
  align-items: center;
  gap: 76px;
  list-style: none;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
}

.nav__link {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-weight: 500;
  text-decoration: none;
  cursor: pointer;
  color: #fff;
  padding-bottom: 24px;
  padding-top: 24px;
  transition: all 0.3s ease;
}

.nav__link:hover {
  color: #dadada;
}

.nav__link_active {
  box-shadow: 0 -2px 0 0 rgb(255, 255, 255) inset;
  -webkit-box-shadow: 0 -2px 0 0 rgb(255, 255, 255) inset;
  -moz-box-shadow: 0 -2px 0 0 rgb(255, 255, 255) inset;
}

.nav__link_active_bg-light {
  box-shadow: 0 -2px 0 0 rgb(0, 0, 0) inset;
  -webkit-box-shadow: 0 -2px 0 0 rgb(0, 0, 0) inset;
  -moz-box-shadow: 0 -2px 0 0 rgb(0, 0, 0) inset;
}

.nav__link_bg-light {
  color: rgba(26, 27, 34, 1);
}

.nav__link_bg-light:hover {
  color: rgb(130, 130, 130);
}

.nav__button {
  border-radius: 100px;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 17px;
  cursor: pointer;
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-weight: 500;
  text-decoration: none;
  cursor: pointer;
  color: #fff;
  border: 1px solid #fff;
  transition: all 0.3s ease;
  line-height: 24px;
  padding: 8px 15px;
  width: 152px;
}

.nav__button:hover {
  opacity: 0.7;
}

.nav__button_bg-light {
  color: rgba(26, 27, 34, 1);
  border: 1px solid rgba(26, 27, 34, 1);
}

.nav__button-icon {
  width: 17px;
  height: 17px;
  background-position: center;
  background-size: 100% 100%;
  background-image: url(../../images/logout_icon_white.svg);
}

.nav__button-icon_bg_light {
  background-image: url(../../images/logout_icon_black.svg);
}

.nav__hamburger {
  display: none;
  width: 24px;
  height: 24px;
  background-position: center;
  background: transparent;
  border: none;
  cursor: pointer;
}

@media screen and (max-width: 1300px) {
  .nav__container {
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media screen and (max-width: 1024px) {
  .nav__menu-list {
    gap: 50px;
  }
}

@media screen and (max-width: 768px) {
  .nav__container {
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media screen and (max-width: 650px) {
  .nav {
    padding-top: 0;
    padding-bottom: 0;
  }
  .nav__menu {
    display: none;
  }
  .nav__logo-container {
    padding-top: 19.5px;
    padding-bottom: 19.5px;
    max-width: 115px;
  }
  .nav__hamburger {
    display: block;
  }
}

@media screen and (max-width: 510px) {
  .nav__container {
    padding-left: 16px;
    padding-right: 16px;
  }
}
